@page "/"
@inject IStringLocalizer<Home> HomeLocalizer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p class="background-test">@HomeLocalizer["AddAdvertisement"]</p>


<p>asdf</p>
<p>asdf</p>

<div class="container2">
    <div>Элемент 1</div>
    <div>Элемент 2</div>
    <div>Элемент 3</div>
</div>


@code {
    private string _selectedCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;

    protected override async Task OnInitializedAsync()
    {

        var s = HomeLocalizer["AddAdvertisement2"].Value.ToString();
        Debug.WriteLine(s);
    }
}
