@inherits LayoutComponentBase

<div class="page" >

    <div class="sidebar" >
        <NavMenu />
    </div>

    <main style="overflow-y: hidden !important;">
        <div class="top-row px-4">
            <CultureSelector />
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        

        <article class="content px-4">
            @Body
        </article>

        
    </main>

    <div class="bottom-nav" style="overflow-y: hidden !important;">
        <nav class="nav">
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item" >
                        <a href="#" class="nav__link">
                            <img src="icons/home_icon.svg" id="home-page" />
                            <span class="nav__name">Home</span>
                        </a>
                    </li>

                    <li class="nav__item" >
                        <a href="/counter" class="nav__link">
                            <img src="icons/home_icon.svg" id="account-page" />

                            <span class="nav__name">About</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#skills" class="nav__link">
                            <img src="icons/home_icon.svg" />

                            <span class="nav__name">Skills</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#portfolio" class="nav__link">
                            <img src="icons/home_icon.svg" />

                            <span class="nav__name">Portfolio</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

